<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Title</title>
        <style>
            table{
                border: black 1px inset;
                text-align: center;
                width: 25em;
                margin: auto;
            }
            table td{
                /*padding-left: 32px;*/
                /*padding-right: 32px;*/
                padding: 1em ;
            }
            .input2{
                width: 5em;
                margin-left: 3em;
                margin-right: 3em;
            }
            .input1{
                width: 13em;
            }
            body{
                text-align: center;
            }

        </style>
    <script>
        function check() {
            if(regF.user_name.value=="")
            {
                alert("用户名不能为空")
                regF.user_name.focus();
                return false;
            }
            if(regF.password.value.length<1)
            {
                alert("密码不能少于6位")
                regF.password.focus();
                return false;
            }
            if(regF.password.value!==regF.password2.value)
            {
                alert("两次输入的密码不一致")
                regF.password.focus();
                return false;
            }
            var age=regF.age;
            if(isNaN(age.value)||parseInt(age.value)<10||parseInt(age.value)>100)
            {
                alert("年龄必须是数字，且大于10，小于100")
                age.focus();
                return false;
            }
            regF.password.value=jiami(regF.password.value);
            regF.password2.value="隐藏";
            return true;
        }
        function jiami(s1) {
            var LONG=20; //加密后的长度
            var chars = new Array(LONG); //10位
            var index = 0;
            var flag = 1;
            while (flag == 1) {
                for (i = 0; i < s1.length && (flag == 1); i++) {
                    t = s1.charCodeAt(i) % 10 + index;
                    chars[index++] = (t * t) % 10+index;
                    if (index == LONG)
                        flag = 0;
                }
            }
            return chars.join("");
        }
    </script>
</head>
<body >
<h2>申请账户</h2>
<form name="regF" onsubmit="return check()" action="http://baidu.com">
    <table>
        <!--<caption>填写账户信息</caption>-->
        <tr>
            <td>用户名</td>
            <td>
                <!--${user.user_name}-->
                <input type="text" class="input1" name="user_name">
            </td>
        </tr>
        <tr>
            <td>密码</td>
            <td>
                <!--${user.password}-->
                <input type="password" class="input1" name="password">
            </td>
        </tr>
        <tr>
            <td>确认密码</td>
            <td>
                <!--${user.password}-->
                <input type="password" class="input1" name="password2">
            </td>

        </tr>

        <!--<hr>-->
        <tr><td colspan="4"><hr></td></tr>
        <tr>
        <td>性别</td>
        <td>
            <!--${user.sex}-->
            <select class="input1" name="sex">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </td>
    </tr>
        <tr>
            <td>
                年龄
            </td>
            <td>
                <!--${user.age}-->
                <input type="text" class="input1" name="age">
            </td>

        </tr>
        <tr>
            <td>电话号码</td>
            <td>
                <!--${user.phone_number}-->
                <input type="text" class="input1" name="phone_number">
            </td>
        </tr>
        <tr>
            <td>备注</td>
            <td>
                <!--${user.comments}-->
                <input type="text" class="input1" name="comments">
            </td>
        </tr>
        <tr ><td style="color: red;padding: 0" colspan="2">${error}</td></tr>
    </table>

    <br>

    <p>
        <input class="input2" type="submit" value="申请账户">
        <input class="input2" type="submit" value="重置">
    </p>

</form>


</body>
</html>